input {
    margin: 12px;
    padding: 8px;
    border: none;
    font-size: 14px;
    width: 80%;
    border-radius: 0%;
    outline: none;
}

h1 {
    text-align: center;
    padding-top: 12px;
}

form {
    text-align: center;
    background-color: whitesmoke;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
}

body {
    background-color: lightblue;
}

button {
    background-color: blue;
    color: white;
    font-size: 14px;
    padding: 16px;
}

img {
    width: 40px;
    height: 10%;
    padding: 12px;
}

div {
    text-align: center;
    width: 100%;
}